.topbar-container{
	background-color: green;
	width: 100%;
	height: 5vh;
}

#website-name{
	float:left;
	margin-left: 2vw;
}

.topbar-options{
	float:right;
	margin-right:2vw;
}
.topbar-options > span{
	font-size: 500;
}