@import 'topbar.css';
@import 'footer.css';
@import 'watchlist.css';
@import 'searchbar.css';
@import 'plotchart.css';
ul{
	list-style-type: none;
}
body, html{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color:black;
}

a ,p, span, li{
	color:white;
}

button {
	background:linear-gradient( to top right, rgba(29, 193, 45,1) 0%, rgba(29, 193, 45 ,1) 100%);
    box-shadow: 1px 1px 30px rgba(255,255,255 ,1);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.main-block{
	display:flex;
}

#username, #reload-metadata{
	display:none;
}