@import 'topbar.css';
@import 'footer.css';
@import 'watchlist.css';
@import 'searchbar.css';
ul{
	list-style-type: none;
}
body, html{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color:black;
}

a ,p, span, li{
	color:white;
}

button > span{
	color:black;
}

.main-block{
	display:flex;
}

.underlying-asset-chart-container{
	border: 3px solid white;
	width: 60vw;
	height: 90vh;
}

.asset-chart-container{
	width: 60vw;
	height: 60vh;
	border: 1.5px solid white
}

#user-actual-data-container{
	width: 60vw;
	height: 22vh;
	border: 1px solid white;
	display: flex;
}

#balance-and-assets{
	width: 28vw;
	height: 20vh;
	border: 1px solid white
}

#assets-holdings{
	width: 28vw;
	height: 20vh;
	border: 1px solid white
}

.search-bar-container{
	border: 3px solid white;
	width: 30vw;
	height: 90vh;
}
#underlying-asset-chart{
	width: 50vw;
	height: 80vh;
}
#chart-intro{
	font-weight: 700;
	font-size: 3vh;
	margin: auto;
}

#dummy{
	display:none;
}