#search-title{
	text-align: center;
	display: none;
}

#search-suggestions{
	background-color: #d37f73;
	display: inline-block;
}
.suggestions-listing-ul{
	margin: auto;
	width: 17vw;
}
#search-form{
	display: none;
	text-align: center;
}

#search-text-input{
	width: 20vw;
}

#search-submit-button{
	margin-top: 2vh;
	width: 15vw;
}

.suggestion-item{
	display:inline-block;
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;
	margin-right:3vw;
}

.suggestion-item :hover{
	color: red;
	cursor: pointer;
}

#ticker-exist-notice{
	display: none;
	color: red;
}